<ion-content [fullscreen]="true">

  <!-- Row para o banner -->
  <ion-row class="ion-justify-content-center ion-no-padding" id="banner">

    <!-- Coluna para a seção esquerda do banner -->
    <ion-col size="12" size-mg="12" size-lg="12" class="ion-text-center full-height">
      <ion-header collapse="fade">
      </ion-header>

      <!-- Row para elementos do banner -->
      <ion-row class="ion-justify-content-center align-items-center" id="elelentos-banner">

        <!-- Coluna para o lado esquerdo do banner -->
        <ion-col id="col-lado-esquerdo">
          <img src="assets/polivalente.png" id="logo">
          <h2 id="titulo">Qualidade sem restrições</h2>

          <p class="naotemumaconta">Não tem uma conta? Crie aqui!!</p>

          <!-- Botão para o link de cadastro -->
          <ion-button routerLink="/login">Cadastro</ion-button>
        </ion-col>

        <!-- Coluna para o lado direito do banner -->
        <ion-col id="col-lado-direito">
          <h1 id="titulo">Login</h1>

          <!-- Container para os campos de entrada de dados -->
          <div container>
            <!-- Campo de entrada para o e-mail -->
            <ion-item id="caixa-cadastro" lines="none">
              <ion-input label="E-mail" labelPlacement="stacked" clearInput="true"
                placeholder="Insira seu endereço de email">
              </ion-input>
            </ion-item>

            <!-- Campo de entrada para a senha -->
            <ion-item id="caixa-cadastro" lines="none">
              <ion-input label="Senha" labelPlacement="stacked" type="password" placeholder="Crie sua senha">
              </ion-input>
            </ion-item>
          </div>

          <!-- Botão para confirmar o login -->
          <ion-button routerLink="/home">Confirmar</ion-button>
        </ion-col>

        <ion-footer class="footer"> Polivalente</ion-footer>
      
      </ion-row>
    </ion-col>

  </ion-row>
</ion-content>
