<ion-content [fullscreen]="true">

  <!-- Row para o banner -->
  <ion-row class="ion-justify-content-center" id="banner">

    <!-- Coluna para a seção esquerda do banner -->
    <ion-col size="12" size-mg="12" size-lg="12">
      <ion-header collapse="fade"></ion-header> 


      <!-- Row para elementos do banner -->
      <ion-row class="ion-justify-content-center align-items-center" id="elelentos-banner">
    
         <!-- Coluna para o lado esquerdo do banner -->
          <ion-col id="col-lado-esquerdo">
            <h1 id="titulo">Cadastro</h1>
  
            <div container>
              <ion-item id="caixa-cadastro" lines="none">
                <ion-input
                  label="E-mail"
                  labelPlacement="stacked"
                  clearInput="true"
                  placeholder="Insira seu endereço de email"
                ></ion-input>
              </ion-item>
  
              <ion-item id="caixa-cadastro" lines="none">
                <ion-input
                  label="Nome"
                  labelPlacement="stacked"
                  [clearInput]="true"
                  placeholder="Insira seu nome de usuário"
                ></ion-input>
              </ion-item>
  
              <ion-item id="caixa-cadastro" lines="none">
                <ion-input
                  label="Número de telefone"
                  labelPlacement="stacked"
                  [clearInput]="true"
                  placeholder="Insira seu número de telefone"
                ></ion-input>
              </ion-item>
  
              <ion-item id="caixa-cadastro" lines="none">
                <ion-input
                  label="Senha"
                  labelPlacement="stacked"
                  type="password"
                  placeholder="Crie sua senha"
                ></ion-input>
              </ion-item>
            </div>
  
            <!-- routerlink -->
            <ion-button routerLink="/home">Confirmar</ion-button>
          </ion-col>

        <!-- Coluna para o lado direito do banner -->
        <ion-col id="col-lado-direito">
          <img src="assets/polivalente.png" id="logo">
          <h2 id="titulo">Qualidade sem restrições</h2>

          <p class="naotemumaconta">Já tem uma conta? Entre aqui!!</p>

          <!-- Botão para o link de cadastro -->
          <ion-button routerLink="/login">entrar</ion-button>
        </ion-col>

        <ion-footer class="footer"> Polivalente</ion-footer>
      
      </ion-row>
    </ion-col>

  </ion-row>
</ion-content>


