*{
    outline: 1px dotted rgb(182, 24, 24);
    border: 1px solid rgb(210, 30, 30);
    margin:0;
    padding:0;
    border:0;
    overflow: hidden;
    box-shadow: none;
  }
  
  :root{
  
    --extra-small-size: 4px;
    --smal-size: 8px;
    --medium-size: 16px;
    --large-size:32px;
    --extra-large-size: 32px;
  
    --font-color: black;
    
  }
  
  //HEADER
  
  
  #banner{
    background: #EFE4F6;
    width: auto;
  }
  
  ion-header{
    background: rgb(189,136,253);
    background: linear-gradient(90deg, rgba(189,136,253,1) 35%, rgba(239,228,246,1) 100%);
    width:100%;
    height: 10vh;
  }
  
  
  ion-searchbar.custom{
    --background: #EFE4F6;
    --color: #473BA3;
    --placeholder-color: #473BA3;
    --icon-color: #473BA3;
    --clear-button-color: #473BA3;
    --border-radius: 30px;
    --box-shadow: none;
  }
  
  #logo{
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    margin: 10px;
    transition: 0.5s;
    width:4vw;
    height:7vh;
    
  }
  
  #logo:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  #titulo{
    width:auto;
    height: auto;
    display: flex;
    margin: 3%;
    margin-left:20%;
    justify-content:left;
    align-items: center;
    color:#473BA3;
    font-weight: bold;
    transition: 0.5s;
  }
  
  #titulo:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #perfil{
    width:7vw;
    height:7vh;
    float:right;
    margin: 3%;
    color:#473BA3;
  
  }
  
  #segundoheader{
    background: #BD88FD;
    height: auto;
    padding: 10px;
  }

  #botoesopcoes{
    padding: 5px;
  }

  

  ion-button{
    justify-content: center;
    --background: #C9ADEB;
    --border-radius: 120px;
    color: black;
    font-weight: bold;
    box-shadow: none;
    transition: 0.7s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;;
    height:5vh;
    width:50%;
    font-size: 15px;
  }

  ion-button:hover {
    --moz-transform: scale(1.2);
    --webkit-transition: all 0.2s;
    --background: #d3b2f9;
    transition: all 0.2s;
    width:60%;
    text-align: start;
    border-radius: 120px;
    justify-content: space-between;
   
  }

  @media (max-width:280px) {
    
    ion-button{
      width:80%;
      transition: 0.7s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;;

    }

    ion-button:hover{
      width:90%;
      --moz-transform: scale(1.2);
      --webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

  }
  
  ion-button img{
    display: none;
  }


  ion-button:hover img{
    display: flex;
    width: 37px;
    height: 37px;
    margin-left: 12px;
  }

  h2{
    text-align: center;
    height: auto;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 100%;
  }

  h2:hover{
    text-align: start;
    justify-content: left;
    color: black;
    font-weight: bold;
  }
    
  ion-button:hover + #imagemopcoes{
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    justify-content: left;
  }

  #imagemopcoes{
    scale:1.05;
    min-width: 2.1vw;
    max-width: 6vh;
  }

  @media (max-width:787px) {
    #imagemopcoes{
      max-width: 15vw;
      height: 5vh;
      scale: 0.9;
    }
  }

  @media (min-width:787px) and (max-width:1024px){
    #imagemopcoes{
      max-width: 15vw;
      height: 5vh;
      scale: 0.9;
    }

    ion-button{
      width:80%;
      transition: 0.7s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;;

    }

    ion-button:hover{
      width:90%;
      --moz-transform: scale(1.2);
      --webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    #imagemopcoes{
      height: 3.3vh;
      width: 4.5vw;
      scale: 0.9;
    }
  }

  
  
  #tres-tracinho{
    display:none;
  }
  
  
  
                    // DIVISOR
  
                    #divider{
                      background-color: #473BA3;
                      height: 4px;
                      border-radius: 90px;
                      justify-content: center;
                      align-items: center;
                    }
                    #espacamento{
                      margin: 1%;
                      height: 10vh;
                      width: 100%;
                      justify-content: center;
                      align-items: center;
                    }
                    #destaques{
                      align-items: center;
                      justify-content: center;
                      width:auto;
                      height: auto;
                      color: black;
                      font-weight: bold;
                      font-size: 20px;
                    }
  
                    #imagem1{
                      margin:10px;
                      padding:10px;
                    }
                    #imagem2{
                      margin:10px;
                      padding:10px;
                    }
                    #imagem3{
                      margin:10px;
                      padding:10px;
                    }
                    #carddestaques{
                      width: 950px;
                      justify-content: center;
                      align-items: center;
                      margin: 0 auto;
                      background-color: #C294F8;
                    }
  
    ion-icon{
      width: 60px;
      height: 150px;
      vertical-align: middle;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      color:#473BA3;
    }
  